<h3>ALL ECOMMERCE ENTRIES</h3><br>
<% @ecommerce_entries.each do |ecommerce_entry|%>
  <h4><a href="/ecommerce_entries/<%= ecommerce_entry.id %>"><%= ecommerce_entry.title %></a> $<%= ecommerce_entry.price %></h4>
  <p><%= ecommerce_entry.created_at %></p>
  <p><%= ecommerce_entry.content %></p>
  <p>By <%= ecommerce_entry.user.name %>.</p>
  <br><br>
<% end %>